#chat-username {
  padding-left: 80px;
}

#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeIn-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeIn-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.screen-header {
  position: sticky;
  top: 0;
}

.chat__timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 35px;
  color: white;
  opacity: 80%;
  border-radius: 30px;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s linear;
}

.messge-row__img {
  border-radius: 25px;
  width: 65px;
  height: 65px;
  margin: 0 20px;
}

.messge-row {
  width: 100%;
  display: flex;
  margin-top: 40px;
  animation-delay: 10s;
  animation: fadeIn-left 1s linear;
}

.me-row {
  animation-delay: 20s;
  animation: fadeIn-right 1s linear;
}

.messge__author {
  opacity: 0.8;
  font-size: 18px;
  margin-bottom: 18px;
  display: block;
}

.messge__bubble {
  background-color: white;
  padding: 8px 8px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  font-weight: 400;
  position: relative;
}

.messge__time {
  display: flex;
  padding-left: 245px;
  font-size: 14px;
  opacity: 60%;
}

.me-row {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.me {
  background-color: yellow;
  padding: 10px 10px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  font-weight: 400;
}

.me-row__info {
  display: flex;
  align-items: flex-end;
}

.messge__time1 {
  font-size: 14px;
  opacity: 60%;
  padding-right: 10px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 14px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  box-sizing: border-box;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 55px;
  top: 8px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
