.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.user-component__avatar {
  border-radius: 15px;
  width: 70px;
  height: 70px;
}

.user-component__text {
  padding-left: 15px;
}

.user-component__title {
  font-size: 28px;
  font-weight: bold;
}

.user-component__subtitle {
  margin-top: 15px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  border-radius: 30px;
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.user-component__avatar--sm {
  border-radius: 23px;
  width: 60px;
  height: 60px;
}

.user-component__title--not-bold {
  font-weight: 400;
  padding-left: 20px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.user-component__column span {
  padding-right: 10px;
  margin-left: 20px;
}

.user__notification {
  background-color: tomato;
  width: 28px;
  height: 28px;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  margin-top: 15px;
}

.user__time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
