.user-component,
.user-component__column {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

.user-component__avatar {
  border-radius: 15px;
  width: 70px;
  height: 70px;
}

.user-component__title {
  font-size: 28px;
  font-weight: bold;
}

.user-component__subtitle {
  margin-top: 15px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  border-radius: 30px;
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
